@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);



body{
  margin:0 auto;
  padding: 0 auto ;
  font-size: 1.2rem;
  font-family:  "Black Ops One","Audiowide";

}
.head{
  width: 100%;
  padding: 20px 0px 0px 0px;
  height: 40px;
  margin: 0;
  font-family:  "Black Ops One","Audiowide";
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(18, 223, 11);
  z-index: 99;
  position: absolute;

}
a{
  color: inherit;
  text-decoration: none;
  font-family:  "Black Ops One","Audiowide";
  
}

#icon{
  height: 30px;
  width: 30px;
  margin-right:10px;

}
.head h1{
  width: 30%;
  text-align: center;
}
.head nav{
  width:50%;
  display:flex;
}
.head ul{
  display: flex;
  text-align:center;
}
.head  li{
  margin-inline: 20px;
  list-style: none;
}
.head button{
  width:7rem;
  height: 100%;
  font-size: 1.3rem;
  font-family: "Odibee Sans";
  margin-right:5px ;
  background:linear-gradient(to right,rgb(18, 223, 11) ,rgb(243, 141, 7));
  border-radius: 5px;
  border: none;
color: black;  
}
.head button:hover{
  transform: translateY(-10px);
  transition: 1s;
  background:linear-gradient(to left,rgb(18, 223, 11) ,rgb(243, 141, 7));
}
.head li :hover{
  color: orange;
  transition: 0.8s;
  border-bottom: 1px solid orange;
}
.firstDiv{
  background-image: url(/img/back\ 1.jpeg);
  height: 100vh;
  background-color: rgba(36, 1, 1, 0.671);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
  justify-content: center;
  z-index: 0;
  display: flex;
}
.svg1{
  border-radius: 50%;
  width: 20%;
  height: 40%;
  position: absolute;
  bottom:0;
  left: 0;
  opacity: 80%;
  background-color: rgb(243, 141, 7);
  margin:0px 0px 0px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;
}
.svg2{
  width: 50%;
  border-radius: 0px 150px 150px 0px;
  height: 30%;
  position: absolute;
  top:20%;
  transform: rotate(30deg);
  border: 10px double greenyellow ;
  left: 0%;
  opacity: 80%;
  background-color:transparent;
  margin:0% 0% -9% -14%;
  z-index: 1;
}
.svg3{
  border-radius: 50%;
  width: 10%;
  height: 20%;
  position: absolute;
  top:30%;
  left: 40%;
  opacity: 80%;
  margin:0px 0px -40px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;
}

.svg4{
  border-radius: 50%;
  width: 10%;
  height: 20%;
  position: absolute;
  top:75%;
  left: 25%;
  opacity: 80%;
  margin:0px 0px -40px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;
  
}

.svg5{
  border-radius: 50%;
  width: 10%;
  height: 20%;
  position: absolute;
  top:12%;
  left: 30%;
  opacity: 80%;
  margin:0px 0px -40px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;
 
}

.svg6{
  border-radius: 50%;
  width: 10%;
  height: 20%;
  position: absolute;
  top:12%;
  left: 30%;
  opacity: 80%;
  margin:0px 0px -40px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;

}

.svg6{
  border-radius: 50%;
  width: 10%;
  height: 20%;
  position: absolute;
  top:60%;
  left: 38%;
  opacity: 80%;
  margin:0px 0px -40px -60px;
  z-index: 1;
  border: 10px double rgb(243, 141, 7) ;
  background-color:transparent;
;
}

.loginDiv{
  background-color: rgba(243, 141, 7, 0);
  width: 80%;
  height: 90%;
  position: absolute;
  position: relative;
  top: -4%;
  left: 0%;
  display: flex;
  padding: 0 auto;
  z-index: 5;
 
}
.loginDiv  h1{
  width: 100%;
  color: rgb(243, 141, 7);
  margin-bottom: 3%;
  font-family: "Odibee Sans";
  text-align: center;
}
.loginDiv img{
  height: 80%;
  margin: 10% 0% 0% 0%;
}
.loginDiv  form{
margin:16% 0% 0% 0%;
background-color: rgba(255, 0, 0, 0);
align-items: center;
height: 70%;
width: 40%;
padding: 0% 5% 0% 0%;
justify-content: center;
border-right: 0px solid rgb(243, 141, 7);
}
.loginDiv input:focus{
  outline: none;
}
.loginDiv input{
  margin: 7% 0% 0% 0%;
  padding: 0% 0% 0% 5%;
  border: none;
  width: 100%;
  font-family: inherit;
  color: greenyellow;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 0px;
  border-bottom: 2px solid  rgb(243, 141, 7)  ;
}
.loginDiv button{
  width: 70%;
  height: 7%;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-family: "Odibee Sans";
  border-radius: 5px;
  margin: 15% 0% 0% 15%;
  background:linear-gradient(to right,rgb(18, 223, 11) ,rgb(243, 141, 7));
}

.men{
  display:none;
}
.navMenu{
  display: none;
}



































/* MEDIA QUARIES */ 
@media screen and (max-width:950px){
  body{
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
  
  }
  .men{
           
    display:inline-block;
    margin-left:-29px;
    padding-left: 0px;
    padding-right:10px;
    width: 10%;
    height: auto;
   
}

.menu{
width: 25px;
height: 5px;
border-radius: 30px;
margin-block:3px;
    background-color:rgb(18, 223, 11);
}
  .head{
    width: 100%;
    font-size: 100%;
    place-content: center;
    height:10px;
    z-index: 2;
  }
  #icon{
    width: 30px;
    height: 30px;
    margin: 0% 3% 0% 2%;

  }
  .head h1{
    text-align: left;
    width: 75%;
    height: auto;
    font-size: 100%;

  }
  .head ul{
    display: none;
  }
  .head button{
    display: none;
  }
 
    .cover{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.794);
      position: fixed;
      display: none;
      z-index: 3;
      top: 0 ;
      right: 0;
    }
  .navMenu{
    width:70%;
    height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  display: block;
  top: 0;
  right: -70%;
  z-index: 9;
  background-color: rgb(5, 5, 5);
  color: orange;

  }
  .navMenu nav{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    padding: 10% 0% 0% 0%;
   
  }
  .navMenu ul{
    list-style-type:none;
    width: 100%;
    height: 40%;
 
    text-align: left;
    margin: 0% 0% 0% 0%;
    padding: 0 auto;
  }
  .navMenu li{
    padding: 0px 0px 0px -10px;
    margin:15px 0px 0px 0px ;
    height: 10%;
    width: fit-content;
    text-align: left;
 
    text-align: center;
  }
  .navMenu p{
    color: red;
    font-weight: bold;
    font-size: 30px;
    width: 7%;
    text-align: center;
    margin: 0% 0% 0% 85% ;

  }
  .navMenu button{
  width: 28%;
  margin:10% 0% 0% 5% ;
  height: 7%;
  background:linear-gradient(to right,rgb(18, 223, 11) ,rgb(243, 141, 7));
  border-radius: 5px;
  border: none;
  color: black; 
  font-size:10px;
  font-weight: bold;
  }

  .navMenu h1{
    font-size: 120%;
    width: 100%;

  }
  .firstDiv{
    width: 100%;
    margin: 0 auto;
    padding:0 auto;
  }
  .svg1, .svg2, .svg3, .svg4, .svg5, .svg6, .svg7{
    display: none;
  }
  .loginDiv img{
    display: none;
  }
  .loginDiv{
    width:80%;
    height: 100%;
    position: static;

    margin:0 auto ;
    padding: 0 auto ;
    justify-content: center;
    align-items: center;

  }
  .loginDiv form{
    width:90%; 
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    justify-content: center;
    position: static;
    border: none;
    margin: 0 auto;
    padding: 0 auto;
  }
  .loginDiv input{
    width: 100%;
    height: 6%;
    border-radius: 5px;
    margin: 20px 0px 0px 15px;
   
  }
  .loginDiv input:focus{
    outline: none;
  }
  .loginDiv button{
    width: 40%;
    margin: 40px 0px 0px 0px;
    font-family: inherit;
  }
  .loginDiv h1{
    width: 100%;
    font-size: 150%;
    text-align: center;
    font-family: inherit;
    margin: -100px 0px 40px 0px ;
  }


}


